# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

SoftwareForArduino/include
SoftwareForArduino/lib
SoftwareForArduino/platformio.ini
SoftwareForArduino/src
SoftwareForArduino/test
QtApp/build-ParkingSensor-Desktop_Qt_5_12_12_GCC_64bit-Debug
QtApp/dox
QtApp/ParkingSensor/doc
